@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200;300;400;500;600;700;800&display=swap');



:root{
    --dark-yellow: #D9AC25;
    --dark-blue: #011126;
    --clear-blue: #4348a1;
    --font-main: 'Gemunu Libre', sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-main);
}

html{
    font-size: 62.5%;
}

body{
    background-color: var(--dark-blue);
}



.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


h1{
    font-size: 7rem;
}

.main-area{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.timer-area, h1{
    color: var(--dark-yellow);
}

.timer-area p{
    font-size: 10rem;
}

.control-btns button, .btn-mark button{
    font-size: 3rem;
    text-transform: uppercase;
    padding: 0.3rem;
    margin: 1.5rem;
    background-color: transparent;
    border: var(--dark-yellow) 1px solid;
    color: var(--dark-yellow);
    border-radius: 1rem;
}

.control-btns button:hover, .btn-mark button:hover{
    background-color: var(--dark-yellow);
    color: white;
    transition: all 0.3s;
    
}

.btn-mark button{
    width: 291px;
    display: flex;
    text-align: center;
    justify-content: center;
}

